*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    scroll-behavior: smooth;
}

.header1{
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 18px 20px;
    text-align: center;
}

/* ......................NAVIGATION STARTS....................... */
.navigation{
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.142);
}

/* .............LOGO........ */
.logo-link{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: black;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

.logo-link img{
    width: 35px;
    background-color: rgb(255, 166, 0);
    padding: 5px;
    border-radius: 40%;
}

.logo-link p{
    font-size: 25px;
    font-weight: bolder;
}

.io{
    font-weight: 500;
}

/* ............LINK-LIST......... */
.navigation ul{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.navigation ul li{
    list-style-type: none;
}

.navigation ul li a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bolder;
    transition: 0.3s;
}

.navigation ul li a:hover{
    color: rgb(255, 166, 0);
}

/* .............BUTTON............ */
.navigation .account{
    display: none;
}

.account{
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.acc-btn a{
    display: block;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.log-in{
    background-color: transparent;
    border: none;
    transition: 0.3s ease;
}

.log-in:hover{
    transform: scale(1.1);
}

.sign-up{
    background-color: rgb(255, 200, 0);
    border-radius: 8px;
    border: 3px solid rgb(255, 200, 0);
    transition: all 0.6s ease;
}

.sign-up:hover{
    border: 3px solid rgb(255, 123, 0);
}

/* .......CHECKBOX........ */
.nav-label{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.nav-label img{
    width: 30px;
}

/* ............MENUTOGGLE............ */
#check:checked ~ .menutoggle{
    transform: translateX(0%);
}

.menutoggle{
    position: fixed;
    top: 120px;
    /* top: 0; */
    z-index: 3;
    width: 350px;
    height: 100vh;
    background-color: rgb(250, 250, 250);
    box-shadow: 2px 1px 5px rgba(14, 14, 14, 0.237);
    padding: 30px 0px;
    transition: all 0.3s ease;
    transform: translateX(-100%);
}

.menutoggle ul li{
    list-style-type: none;
}

.menutoggle ul li a{
    display: block;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    text-transform: capitalize;
    text-decoration: none;
    padding: 18px 0 18px 30px;
    transition: all 0.4s ease;
}

.menutoggle ul li a:hover{
   background-color: rgb(255, 179, 0);
}

.menutoggle .account{
    width: 70%;
    margin: 30px 20px 0;
    flex-direction: column;
    align-items: first baseline;
    padding-top: 20px;
    border-top: 3px solid rgb(255, 123, 0);
}

/* .................NAVIGATION DESKTOP-VIEW................. */
@media screen and (min-width: 1160px){
    .navigation ul{
        display: inline-flex;
    }

    .navigation .account{
        display: inline-block;
    }

    .nav-label, .menutoggle{
        display: none;
    }
}
/* ......................NAVIGATION STARTS....................... */

/* .........................HERO-SECTION STARTS.......................... */
.hero-section{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 70px;
}

.hero-section-info{
    padding: 40px 80px 50px 40px;
}

.hero-section-info h1{
    font-size: 40px;
}

.hero-section-info p:nth-child(2){
    font-size: 25px;
    margin: 35px 0;
}

.hero-section-info p:nth-child(3){
    font-size: 25px;
}

.hero-section-info-btn{
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 200, 0);
    border: 3px solid rgb(255, 200, 0);
    margin-top: 35px;
    transition: 0.3s ease;
}

.hero-section-info-btn:hover{
    border: 3px solid rgb(255, 123, 0);
}

.hero-section-info-btn a{
    display: block;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 35px;
}

.hero-section-video{
    width: 70%;
    margin: 30px auto 100px;
    height: fit-content;
}

.hero-section-video video{
    width: 100%;
}

.trusted-brands{
    margin: auto;
    padding: 20px 35px;
    text-align: center;
}

.trusted-brands p{
    font-size: 25px;
    font-weight: bold;
    color: rgb(66, 66, 66);
    letter-spacing: 0.8px;
    margin: 20px 0 30px;
}

.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

.brands img{
    width: 150px;
    margin-right: 20px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: all 0.8s ease;
}

.brands img:hover{
    opacity: 1;
    filter: grayscale(0%);
}

/* ...............DESKTOP-VIEW................. */
@media screen and (min-width: 950px) {
    .hero-section-container{
        padding: 50px 50px 80px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .hero-section-info{
        padding: 30px;
    }

    .hero-section-video{
        width: 100%;
        height: fit-content;
        margin: 0;
        margin-left: 30px;
        padding: 20px;
    }
    
}
/* ................LARGER SCREEN................. */
@media screen and (min-width: 1550px) {
    .hero-section-info{
        padding: 40px 180px 0 120px;
    }

    .hero-section-info h1{
        font-size: 60px;
        line-height: 70px;
    }

    .hero-section-info p:nth-child(2){
        font-size: 33px;
        margin: 38px 0;
    }
    
    .hero-section-info p:nth-child(3){
        font-size: 33px;
        margin-bottom: 20px;
    }
}
/* .........................HERO-SECTION ENDS.......................... */

/* ...............................SECTION2 STARTS................................ */
.section2{
    padding: 120px 40px;
}

.info-content{
    margin: 0 auto 30px;
}

.info-content h3{
    font-size: 25px;
    text-transform: capitalize;
    color: rgb(66, 66, 66);
    margin: 0 0 20px;
}

.info-content h1{
    font-size: 38px;
}

.info-content p{
    font-size: 25px;
}

.info-content p:nth-child(3){
    margin: 28px 0;
}

.video-content{
    height: fit-content;
    margin: auto;
    border-radius: 30px;
}

.video-content video{
    width: 100%;
    border-radius: 30px;
}

/* ...............DESKTOP VIEW................ */
@media screen and (min-width: 900px) {
    .section2{
        padding: 120px 90px;
    }

    .general-container{
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    .video-content{
        width: 100%;
        margin: 0;
    }

    .info-content{
        width: 100%;
        margin: 0;
    }
}
/* ..............LARGER SCREEN............... */
@media screen and (min-width: 1250px) {
    .info-content{
        width: 90%;
        padding: 20px 180px 40px 30px;
    }

    .info-content h1{
        font-size: 54px;
    }

    .info-content p{
        font-size: 30px;
    }

    .info-content p:nth-child(3){
        margin: 40px 0;
    }
}
/* ...............................SECTION2 ENDS................................ */

/* ..................................SECTION3 STARTS................................... */
.section3{
    padding: 60px 40px;
}

@media screen and (min-width: 900px) {
    .section3{
        padding: 20px 90px;
    }

    .section3-container{
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 1250px) {
    .section3-content-a{
        padding: 0px 60px 0px 150px;
    }
}
/* ..................................SECTION3 ENDS................................... */

/* ....................................SECTION4 STARTS..................................... */
.section4{
    padding: 80px 40px;
}

@media screen and (min-width: 900px) {
    .section4{
        padding: 120px 80px;
    }

    .section4-content-a{
        padding: 0px 50px 0px 160px;
    }
}
/* ....................................SECTION4 ENDS..................................... */

/* ....................................SECTION5 STARTS..................................... */
.section5{
    padding: 100px 130px;
    text-align: center;
}

.section5 h1{
    font-size: 40px;
}

.section5-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-auto-rows: auto;
    gap: 40px;
    margin: 50px auto;
}

.section5-container a{
    padding: 20px 0;
    display: inline-block;
    color: black;
    font-size: 23px;
    font-weight: bolder;
    text-decoration: none;
}

.section5-content{
    transition: all 0.5s ease;
    margin: auto;
}

.img-content{
    border-radius: 10px;
    position: relative;
}

.preview{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    transition: all 0.5s ease;
}

.img-content::before{
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.508);
    transition: all 0.5s ease;
}

.img-content img{
    width: 100%;
    border-radius: 10px;
}

.section5-content:hover .img-content::before{
    display: block;
}

.section5-content:hover .preview{
    display: block;
}

.section5-content p{
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .section5{
        padding: 90px;
        text-align: center;
    }
}
/* ....................................SECTION5 ENDS..................................... */

/* ....................................SECTION6 STARTS..................................... */
.section6{
    padding: 20px 50px;
}

.section6 h1{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.check-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 5px 0;
    margin: 10px 0;
    border-top: 2px solid rgba(0, 0, 0, 0.139);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.check-label  h2{
    font-size: 25px;
}

.arrow-up{
    width: 60px;
    transform: rotate(90deg);
}

/* ..........Hide and show contents........ */
.label-content{
    display: none;
    padding-bottom: 35px;
}

#checked1:checked ~ .label-content1{
    display: block;
}
#checked2:checked ~ .label-content2{
    display: block;
}
#checked3:checked ~ .label-content3{
    display: block;
}
#checked4:checked ~ .label-content4{
    display: block;
}
#checked5:checked ~ .label-content5{
    display: block;
}
/* .................toggle ends.................... */

.section6-container p{
    font-size: 20px;
}

/* ...................DESKTOP-VIEW....................... */
@media screen and (min-width: 850px) {
    .section6{
        padding: 50px 90px;
    }

    .section6 h1{
        font-size: 35px;
        text-transform: capitalize;
    }

    .check-label{
        padding: 10px 0;
        margin: 15px 0;
    }

    .check-label  h2{
        font-size: 30px;
    }

    .section6-container p{
        font-size: 25px;
    }

    .arrow-up{
        width: 75px;
    }
}
/* ...................LARGR SCREEN-VIEW....................... */
@media screen and (min-width:1000px) {
    .section6{
        padding: 50px 150px;
    }
}
/* ....................................SECTION6 ENDS..................................... */

/* .......................................SECTION7 STARTS........................................ */
.section7{
    padding: 20px 50px;
}

.section7-content-info{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    margin: 20px auto;
}

.section7-content-info h1{
    font-size: 30px;
}

.section7-content-info p{
    font-size: 23px;
    margin: 15px 0 0;
}

.section7-content-image{
    display: none;
}

/* ..............DESKTOP-VIEW............... */
@media screen and (min-width: 900px) {
    .section7-container{
        width: 90%;
        margin: auto;
        border-radius: 20px;
    }

    .section7-content-info{
        width: 100%;
        height: fit-content;
        display: flex;
        padding: 0;
    }

    .a{
        width: 50%;
        height: 400px;
        margin: auto;
        text-align: left;
        padding: 45px;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
    }

    .section7-content-info h1{
        font-size: 40px;
    }
    
    .section7-content-info p{
        font-size: 28px;
        margin: 15px 0 0;
    }

    .section7-content-image{
        display: block;
        width: 50%;
        height: 400px;
        background-image: url(./images/shoutout-image-a.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
/* ...........LARGER SCREEN............. */
@media screen and (min-width: 1380px) {
    .a{
        padding: 70px;
        padding-right: 40px;
    }

    .section7-content-info h1{
        font-size: 55px;
    }
    
    .section7-content-info p{
        font-size: 30px;
        margin: 15px 0 0;
    }
}
/* .......................................SECTION7 ENDS........................................ */

/* .......................................**FOOTER STARTS**........................................ */
.footer{
     padding: 80px 60px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
}

.footer-logo{
    padding-right: 35px;
}

.footer-logo a p{
    font-size: 20px;
}

.footer-content a img{
    background-color: black;
}

.footer-logo p{
    font-size: 18px;
}

.footer-content h3{
    font-size: 22px;
    color: rgb(45, 45, 45);
    margin: 20px 0 20px 8px;
}

.footer-content ul li{
    list-style-type: none;
    margin: 13px;
    text-align: left;
}

.footer-content ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.footer-content ul li a:hover{
    text-decoration: underline 2px rgb(255, 166, 0);
}
/* .......................................**FOOTER STARTS**........................................ */


/* ....PROJECT ENDS HERE.... */